
html, 
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;

  background: transparent url('../img/paper.jpg') 50% 50% no-repeat;
  background-size: cover;
}


.btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  transition: all 250ms ease-out;
}

.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paper-raise:hover {
  border: 1px solid #eee;
  
}

.paper-raise:hover:before {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
